<nav class="navbar">
    <a class="navbar-brand" >
         <img src="https://image.shutterstock.com/image-vector/quiz-comic-pop-art-style-260nw-1506580442.jpg" style="width:50px; border-radius: 1pc;">   
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
          <button><a class="nav-link" (click)="logOut()">Logout</a></button>
        </li>
    </ul>
</nav> 

<div class="container">  
  <div class="card">
    <h1><b>Congratulations!  You have successfully completed this quiz!</b></h1>
    
    <!-- <img src="https://ae01.alicdn.com/kf/H8356f216b58f49588eca32bd5aa89f2av/2020-Customize-Champion-Star-Trophy-Golden-Plated-Team-Sport-Competition-Craft-Souvenir-Trophy-Cup-Awards-33.jpg_q50.jpg" class="card-img-top" alt="img">    -->
    <img src="    https://github.com/CodAffection/Angular-5-Quiz-App-With-Web-API/blob/master/Angular5/src/assets/img/trophy.png?raw=true" class="card-img-top" alt="img">   
  
</div>
</div>  