 <div class="col-sm-6">
<div class="container">
<div class="row" *ngIf="questions">
  <div class="col s8 offset-s2">
        <span>Time Elapsed : {{quizService.displayTimeElapsed()}}</span>
        <div class="progress" style="height: 5px;">
           <div class="determinate" [style.width.%]="(quizService.qnProgress+1)*10"></div>
        </div>
        <br/>
       <div class="card">
             <span class="card-title"><b>{{quizService.qnProgress+1}}</b></span>
             <!-- <p *ngFor="let quiz of questions">
                   {{quiz.questionContent}}
             </p> -->
             <p>{{questions[quizService.qnProgress].questionContent}}</p>
             <!-- <p>{{questions[quizService.qnProgress].answers | json}}</p> -->
               
       </div> 
       <br/>
      <div class="card">
            <div *ngFor="let option of questions[quizService.qnProgress].answers; let i = index;"> 
                  <br/>                 
               <ul class="collections answers">         
                   <!-- <div *ngIf="option.questionTypeId !=1">
                     <li><input type="text" id="i" placeholder="Type your answer" class="ans"/></li>
                   </div> -->
                   <!-- <div *ngIf="option.questionTypeId == 2" disabled="true"> -->
                    <li *ngIf="option !=null" class="collection-item" (click)="answer(questions[quizService.qnProgress].questionId)">
                        {{option.answerContent | json}}
                     </li>
                  <!-- </div> -->
              </ul>  
            </div>     
                  <!-- <button  (click)="answer(questions[quizService.qnProgress].questionId)">Next</button> -->
           
               
      </div>
      
  <!-- <div *ngFor="let quiz of questions">
     <div *ngFor="let answer of quiz.answers; let i = index">                    
       <input type="radio" [checked]="answer.selected" (change)='radioChecked(answer.id,i)' >  
        <button type="button">save</button>                    
     </div>
  </div> -->
 </div>

</div>
</div>
</div>

<!-- <div class="card" *ngFor="let quiz of questions; index as i;">
      <div *ngIf="">
        <h3>{{quiz.questionContent}}</h3>
      </div>
</div>

<div class="card" *ngFor="let quiz of questions; index as i;">
   <h3>{{quiz.questionContent}}</h3>
   <div class="list-group" *ngFor="let answer of quiz.answers">
         <h4>Choose your correct answer</h4>
     <a href="#" class="list-group-item list-group-item-action">{{answer.answerContent}}</a>
   </div>
</div> -->
