
<!-- Multiple Choice Questions -->
<div class="card" *ngIf="isAddMode">
<h3 *ngIf="isAddMode">Add Mcq</h3>
<h3 *ngIf="!isAddMode">Edit Mcq</h3>
<div class="card-body">
<form [formGroup]= "mcqForm" (ngSubmit)= "onSubmit()">
           <div class="container">
            <br/>
              <h2>MCQ Quiz</h2>
            </div> 
            <br/>
            <div class="form-group">
                 <b>Question:</b>
                <input type="text" formControlName="questionContent" placeholder ="-Type your question-" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.questionContent.errors }" />
                <div *ngIf="submitted && f.questionContent.errors" class="invalid-feedback">
                    <div *ngIf="f.questionContent.errors.required"> Question Content is required</div>
                </div>
            </div>
            <div class="form-row">
               <div class="form-group col">
                   <b>Quiz type:</b>
                  <select formControlName ="questionTypeId" (click)="selectType($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.questionTypeId.errors }">   
                     <option [ngValue]="2">Mcq</option> 
                     <option [ngValue]="1">Text</option>
                  </select>
                  <div *ngIf="submitted && f.questionTypeId.errors" class="invalid-feedback">
                        <div *ngIf="f.questionTypeId.errors.required">QuizType is required</div>
                  </div>
               </div>
            </div>  
            <div class="form-group">
                <b>Answers:</b>
                <br/>
                  <input type="text" formControlName = "answerContent_a" class="form-control" placeholder="-Answer-" [ngClass]="{ 'is-invalid': submitted && f.answerContent_a.errors }"  />
                  <div *ngIf="submitted && f.answerContent_a.errors" class="invalid-feedback">
                    <div *ngIf="f.answerContent_a.errors.required"> Answer is required</div>
                   </div>
                <br/>
                  <input type="text" formControlName = "answerContent_b" class="form-control" placeholder="-Answer-" [ngClass]="{ 'is-invalid': submitted && f.answerContent_b.errors }"  />
                      <div *ngIf="submitted && f.answerContent_b.errors" class="invalid-feedback">
                          <div *ngIf="f.answerContent_b.errors.required"> Answer is required</div>
                      </div>
                     <br/>
            </div>    
             
           <div class="form-group">
                    <b>Number of Answers</b>
                    <select formControlName = "numberOfAnswers" class="form-control" (change)="onChangeAnswers($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfAnswers.errors }">
                        <option value="" disabled="true" [selected]="true">-Select number of answers-</option>
                        <option value=""></option>
                        <option *ngFor="let i of [1,2,3]">{{i}}</option>
                    </select>
            </div>
            
            
            <div *ngFor="let answer of t.controls; let i = index" >
              <div class="list-group-item">
                  <form [formGroup]="answer" class="form-row">
                    <input type="text" formControlName ="answerContent" class="form-control" placeholder="-Answer-"/>
                  </form> 
              </div>
            </div> 

            <div class="form-group">
               <b>Correct Answer:</b> 
                <br/>
                <!-- <input type="radio" formControlName="answer" class="answer-radio" [ngClass]="{ 'is-invalid': submitted && f.answer.errors }"  /> -->
                <input type="text" formControlName = "correctAnswer" class="form-control" placeholder="-Correct Answer-" [ngClass]="{ 'is-invalid': submitted && f.correctAnswer.errors }"  />
                <div *ngIf="submitted && f.correctAnswer.errors" class="invalid-feedback">
                    <div *ngIf="f.correctAnswer.errors.required"> CorrectAnswer is required</div>
                </div>
            </div> 
        <b>Image:</b>
        <br/>
        <input type="file" />
        <div class="text-center">
                     <button [disabled]="loading" class="button">
                        <span *ngIf="loading" class="spinner-grow spinner-grow-sm"></span>
                        Save
                    </button>
        </div>
</form> 
</div>
</div>
