<nav class="navbar">
  <div class="container">
	<div class="form-row">
        <br/>
        <h1>Select Quiz Type</h1>
    </div>
	<div class="form-group1">
          <select formControlName ="quiz" id="select" class="form-control" (change)="chooseQuiz($event)">              
               <option value="null" disabled="true" [selected]="true">-Please select-</option> 
               <option value="Text">Text</option>
               <option value="Mcq">Mcq</option>
          </select>
	</div>
  </div>    
</nav>

<!-- Text type question -->
<div class="card" *ngIf = "type">
    <br/>
<h3 *ngIf="isAddMode">Add Text Type Quiz</h3>
<h3 *ngIf="!isAddMode">Edit Text Type Quiz</h3>
<div class="card-body">
<div class="container" style="background-color: rgb(62, 10, 110); height: 20%;" >
    <br/>
     <h2>Text type quiz</h2>
</div>
   
  <form [formGroup]= "form" (ngSubmit)= "onSubmit()"> 
            <div class="form-group">
                <b>Question:</b>
                <input type="text" formControlName="questionContent" placeholder ="-Type your question-" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.questionContent.errors }" />
                <div *ngIf="submitted && f.questionContent.errors" class="invalid-feedback">
                    <div *ngIf="f.questionContent.errors.required"> Question is required</div>
                </div>
            </div>
            <div class="form-row">
               <div class="form-group col">
                   <b>Quiz type:</b>
                   <select formControlName ="questionTypeId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.questionTypeId.errors }">   
                    <option value="null" disabled="true" [selected]="true">-Please select question type-</option>   
                       <!-- <option [ngValue]="">-Please select question type-</option> -->
                       <option [ngValue]="1">Text</option>
                       <option [ngValue]="2">Mcq</option>
                   </select>
               </div>    
               <div *ngIf="submitted && f.questionTypeId.errors" class="invalid-feedback">
                        <div *ngIf="f.questionTypeId.errors.required">QuestionTypeId is required</div>
               </div>
		    </div>
            <div class="form-group">
                <b>Answer:</b>
                <input type="text" formControlName="answerContent" placeholder ="-Type your answer-" class="form-control" />
                <!-- <div *ngIf="submitted && f.QuestionContent.errors" class="invalid-feedback">
                    <div *ngIf="f.QuestionContent.errors.required"> Question is required</div>
                </div> -->
            </div>
            <div class="form-group">
                <b>Correct Answer:</b>
                <input type="text" formControlName="correctAnswer" placeholder ="-Type your correctanswer-" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correctAnswer.errors }"  />
                <div *ngIf="submitted && f.correctAnswer.errors" class="invalid-feedback">
                    <div *ngIf="f.correctAnswer.errors.required"> CorrectAnswer is required</div>
                </div>
            </div>
            <div class="form-group">
                <b>Image</b>
                <input type="file" formControlName="img" class="form-control"  />
                <!-- <div *ngIf="submitted && f.img.errors" class="invalid-feedback">
                    <div *ngIf="f.img.errors.required"> Image is required</div>
                </div> -->
            </div>
        <div class="text-center">
             <button [disabled]="loading" class="button">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Save
             </button> 
      </div> 
  </form>
 </div>
 <!-- </div> -->
</div>

<div class="form-group" *ngIf = "!type">
    <h1>MCQ</h1>
     <app-mcq-quiz></app-mcq-quiz>
</div>

