.navbar{
    height: 8%;
	border-radius: 0pc;
    background-color: rgb(5, 38, 82);
    margin-top: 20px;
}
h1,h2{
    color:white;
    margin-left: 1px;
    text-align: center;
}
h3{
    color: #b1136f;
    text-align: center;
}
.form-group1{
    width: 0%;
}
.select{
    width: 200px;
    margin-top: 0px;
    height: 30px;
}
.card{
   height: 80%;
   width: 40%;
   margin-left: 30%;
   margin-top: 5%;
   border-radius: 2pc;
   border-color: rgb(28, 4, 71);
}
.button {
	background-color:#0b0466;
	border-radius:24px;
	border:1px solid #22026e;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:18px;
	padding:15px 38px;
	text-decoration:none;
    align-items: center;
    
}
.button:hover {
	background-color:#290669;
    color:white;
}
.button:active {
	position:relative;
	top:1px;
}