<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <b class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User
        </b>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['create-user']">Add User</a>
          <a class="dropdown-item" [routerLink]="['user-list']">Users List</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <b class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Question
        </b>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['create-question']">Add Question</a>
          <a class="dropdown-item"  [routerLink]="['list-question']">Questions List</a>
        </div>
      </li>
    </ul>
    
    <div class="srch_wrpr" *ngIf="isVisible">
        <input type="checkbox" name="" class="checkbox">
        <div class="srch_sb_cnt">
            <input type="text" name="text_bar" id="" class="sech_txt_inpt" placeholder="Type to search...">
            <button class="srch_btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>

             <ul class="navbar-nav">
             <li class="nav-item">
                <button><a class="nav-link" (click)="logOut()">Logout</a></button>
             </li>
             </ul>
    
  </div>
</nav>

   <h1>You are Admin</h1>

  <router-outlet></router-outlet>


       
