<div class="form-group mr-1">
  </div>
  <div class="container">
      <h2>All  Question List</h2>  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Quiz Type</th>
            <th>Answers</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quiz of questions">
            <td>{{quiz.questionId}}</td>
            <td>{{quiz.questionContent}}</td>
            <td>{{quiz.questionTypeId}}</td>
            <td><p>
                 <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                       Answers
                 </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                       <div *ngFor="let answer of quiz.answers">
                      <b> AnswerId: </b><li> {{answer.answerId}}</li> 
                      <b> AnswerContent: </b><li>{{answer.answerContent}}</li>
                      <b> CorrectAnswer: </b><li>{{answer.correctAnswer}}</li>
                      <b> QuestionId : </b><li>{{answer.questionId}}</li>
                     </div>
                   </div>
                </div>
            </td>
            <td> 
              <button (click) = "deleteQuiz(quiz.questionId)" class = "btn btn-danger" style="margin-left: 10px"><i class="fas fa-trash"></i></button>
              <button (click) = "updateQuiz(quiz.questionId)" class = "btn btn-warning" style="margin-left: 10px"><i class="fas fa-edit"></i></button>
              <button (click) = "quizDetails(quiz.questionId)" class = "btn btn-success" style="margin-left: 10px"><i class="fas fa-eye"></i></button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
