<hr/>
<h3 text-align: center>Text Type Details</h3>
<div class="form-group">   
<b>QuestionId:</b>&nbsp;&nbsp;{{quiz.questionId}}
<br/><b>QuestionContent:</b>&nbsp;&nbsp;{{quiz.questionContent}}
<br/><b>QuestionTypeId:</b>&nbsp;&nbsp;{{quiz.questionTypeId}}
<br/><b>Answers:</b>&nbsp;&nbsp;{{quiz.answers | json}}
<br/>
<hr/>
    <ul *ngFor="let ans of quiz.answers">
      <li><b>AnswerId:</b>{{ans.answerId}}</li><br/>
      <li><b>AnswerContent:</b> {{ans.answerContent}}</li><br/>
       <li><b>CorrectAnswer:</b>{{ans.correctAnswer}}</li><br/>
    </ul>
</div>
