<div class="container">
    <button (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  <h2>This is:{{quiz.questionId}} Question</h2>          
  <table class="table">
    <thead>
      <tr>
          <th>quizId:{{quiz.questionId}}</th>
          <td>{{quiz.questionId}}</td>
      </tr>
      <tr>
          <th>Question</th>
          <td>{{quiz.questionContent}}</td>
      </tr>
      <tr>
          <th>QuestionTypeId:</th>
          <td>{{quiz.questionTypeId}}</td>
      </tr>
      <tr>   
        <th>Answers:</th>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td *ngFor="let answer of quiz.answers | keyvalue">
          <ul>
            <li><b>Id:</b> {{answer.value.answerId | json}}</li>
            <li><b>AnswerContent:</b> {{answer.value.answerContent}}</li>
            <li><b>CorrectAnswer:</b> {{answer.value.correctAnswer}}</li>
          </ul>
         
        </td>
      </tr> 
    </thead>
  </table>
</div>
